button {
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #b9b9b9;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
}